@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*== ESTILO GERAL ==*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow-y: auto; 
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif;

}

header{
    padding: 20px;
}

nav{
    background-color: #adadad28;
    box-shadow: 0 0 15px #20202074;
    padding: 30px;
    width: 100%;
}

.nav{
    background-color: #9291914c;
    box-shadow: 0 0 15px #20202074;
    padding: 25px;
} 

.flex{
    display: flex;
}

.btn-detalhes {
    display: inline-block; 
    padding: 15px 25px;
    background-color:#c39f71b4 ;
    color: black; 
    text-decoration: none; 
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none; 
    text-align: center;
} 

.btn-detalhes:hover {
    background-color: #9d8776;
    transform: scale(1.05);
}

h2.titulo{
    columns: fff;
    font-size: 32px;
    text-align: center;
}

h2.titulo span{
    background-color: #f5cca8;
    border-radius: 15px;
    padding: 7px 50px;
}

/*== ESTILO DA NAV HOME ==*/
.interface-home .topo-home{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    list-style-type: none;
}

.interface-home a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.interface-home .topo-home a:hover{
    background-color: #7272721e;
    border: 2px solid #5959593f;
    border-radius: 10px;
    padding: 20px;
    transition: .4s;
}

.interface-home nav ul li{
    display: block;
    padding: 0 40px;
}
.categoria {
    position: relative;
    display: inline-block;
}

.lista-tipos {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
    padding: 25px;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.177);
}

.lista-tipos ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.categoria:hover .lista-tipos {
    display: block;
    cursor: pointer;
}

.categoria .lista-tipos ul li:hover {
    background-color: #20202067;
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}

/*== ESTILO DO MENU LATERAL ==*/
.btn-abrir-menu i {
    color: #1d1c1c;
    position: absolute;
    left: 20px;
    top:2.4%;
    font-size: 32px;
    cursor: pointer;
}

.menu-lateral {
    width: 0%;
    height: 100%;
    background-color: #202020;
    padding: 10px 0;
    box-shadow: 3px 0 0 cadetblue;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;


    position: fixed;
    top: 0;
    left: 0;
    transition: .4s;
    z-index: 1000;
}

.menu-lateral.abrir-menu {
    width: 25%;
}

.menu-lateral.abrir-menu ~ .overlay-topo {
    display: block;
}

.menu-lateral .btn-fechar {
    color: #ccc;
    font-size: 35px;
    text-align: right;
    cursor: pointer;
}

.menu-lateral nav ul {
    text-align: left;
    list-style-type: none;
}

.menu-lateral nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    padding: 20px 4%;
}

.menu-lateral nav ul li a:hover {
    background-color: cadetblue; 
    transition: 0.3s;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
    margin: 5px;
}

.overlay-topo {
    background-color: rgba(0, 0, 0, 0.614);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none; 
    transition: opacity 0.5s ease;
}

/*== ESTILO NAV PESQUISA ==*/
.conteiner-pesquisa {
    background-color: #202020;
    padding: 10px;
}

.input-box-pesquisa {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.pesquisar {
    padding: 12px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#icon{
    padding-top: 10px;
    position: absolute;
    left: 10px; 
    top: 30%; 
    transform: translateY(-50%); 
    width: 20px;
    height: 20px; 
    pointer-events: none;
}

/*== ESTILO DO TOPO DO SITE ==*/

section.sobree {
    padding: 0; /* Remova padding se necessário */
    background-image: url(img/capaLivro.png);
    background-repeat: no-repeat;
    background-size: cover; /* Cobre toda a seção */
    background-position: center; /* Centraliza a imagem */
    width:100%;
    height: 500px; /* Defina uma altura específica */
}

section.sobree .flex{
    align-items: center;
    gap: 60px;
}
.sobree .txt-sobree{
    color: black;
    font-family: 'Poppins', sans-serif;
}

.sobree .txt-sobree h2{
    font-size: 40px;
    line-height: 40px;
    margin: 25px;
}

.sobree .txt-sobree h2 span{
    color: #876445;
    border-radius: 20px;
    display: block;
}

.sobree .txt-sobree p{
    margin: 20px 0;
    font-size: 20px;
    text-align: justify;

}

/*== ESTILO DO CONTEUDO INICIAL ==*/

section.topo-so-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
    gap: 20PX;
    margin: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.topo-do-site.txt-topo-site h1{
    color: black;
    font-size: 42px;
}

.topo-do-site .txt-topo-site h1 span{
    background-color: #f5cca8;
    border-radius: 15px;
    padding: 8px;
}

.topo-do-site .txt-topo-site p{
    color: black;
    font-size: 23px;
    margin: 28px 0;
    text-align: justify;
}

.novidades-livros .img-sobre img{
    padding: 10%;
    margin-right: 35px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*== ESTILO DAS NOVIDADES ==*/
header{
    background-color: #adadad28;
    box-shadow: 0 0 10px #2020206b;
}

section.novidades{
    padding: 50px 4%;
}
section.novidades .flex{
    display: flex;
    gap: 60px;
}
.novidades .novidades-box{
    padding: 40px; 
    border: 2px solid  black;
    margin-top: 75px;
    border-radius: 45px;
    transition: .2s;
}
.novidades .novidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 17px #2020208e;
}
.novidades .novidades-box i{
    font-size: 68px;
    color: #5b493be6;
}

.novidades .novidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
.novidades .novidades-box p{
    font-size: 18px;
    margin: 15px 0;
    text-align: justify;
}

/*ESTILO DO SOBRE*/

.digitais{
    background-color: #52505041;
    box-shadow: 0 0 20px #2020208e;
    padding: 25px;
}
section.sobre{
    padding: 90px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: black;
    font-family: 'Poppins', sans-serif;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin: 30px;
}

.sobre .txt-sobre h2 span{
    color: #876445;
    border-radius: 20px;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    font-size: 20px;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width:60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #e8d3a6;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}
button:hover {
    background-color: #9d8776;
    transform: scale(1.05);
    transition: .2s;
}

/*ESTILO DAS NOVIDADES DOS LIVROS*/

.novidades .novidades-box-livros{
    padding: 30px; 
    border: 2px solid  black;
    margin-top: 75px;
    border-radius: 45px;
    transition: .2s;
}

.novidades .novidades-box-livros h3{
    font-size: 28px;
    margin: 15px 0;
}
.novidades .novidades-box-livros p{
    font-size: 20px;
    margin: 15px 0;
    text-align: justify;
}

.novidades .novidades-box-livros img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.novidades .novidades-bo-livros{
    padding: 40px; 
    border: 2px solid  black;
    margin-top: 75px;
    border-radius: 45px;
    transition: .2s;
}

.novidades .novidades-box-livros:hover{
    transform: scale(1.05);
    box-shadow: 0 0 17px #ac835de4;
}